.event{
    
    .head{
width:375px;
height:491px;
background-image: url("../assets/imgs/img4.jpg");
background-size: 100%;
}
.woofup{
    background-color: #8B7BF1;
    height:44px;
    border-radius: 30px;
    position:relative;
   bottom: 30px;
   left:140px;
   box-shadow: 0 5px 40px rgba(0,0,0,0.5);
}
.title{
    margin-top:0;
    font-size:30px;
    padding-top:0 !important;
}
.info{
    width:375px;
    height:487px;
    background-image: url("../assets/imgs/img5.jpg");
    background-size: 100%;
    }


}